<form id="main-modal-edit" class="container col-md-12 col-lg-12 edit-custom-shape-form" data-path="<%=id%>">
    <div class="row col-md-9 top-part">
        <label class="edit-custom-shape-label">Edit: <%=id%></label><br>
        <div class="form-group">
            <label class="control-label form-group-addon">Z-Index</label>
            <input type="number" class="form-control shape-z_index-input"  min="-100" max="100" step="1" data-path="<%=id%>">
            </div>
        <div class="form-group">
            <label class="control-label form-group-addon">Border-width</label>
            <input type="number" class="form-control shape_border_width" min="0" data-path="<%=id%>">
            </div>
        <div class="form-group">
            <label class=" control-label form-group-addon">Border-type</label>
            <select class="form-control border-type-select" data-path="<%=id%>">
                </select>
            </div>
        <div class="form-group">
            <label class="control-label form-group-addon">Border-color</label>
            <input type="color" class="form-control shape_border_color" data-path="<%=id%>">
            </div>
        <div class="form-group">
            <label class="control-label form-group-addon">Background-color</label>
            <input type="color" class="form-control shape_background_color" data-path="<%=id%>">
            </div>
        <div class="form-group">
            <label class="control-label form-group-addon">Transparent</label>
            <button type="button" class="btn btn-default shape_background_transparent" data-path="<%=id%>"></button>
            </div>
        <div class="form-group">
            <label class="control-label form-group-addon">Rotate</label>
            <input type="number" class="form-control shape-rotation-input" data-path="<%=id%>" min="-360" max="360" step="1">
            </div>
        <div class="form-group">
            <label class="control-label form-group-addon">Name</label>
            <input type="text" class="form-control shape-name-input" data-path="<%=id%>" >
            </div>
        </div>
    <div class="row col-md-3 btn-part">
        <button type="button" class="btn btn-success edit-custom-shape-form-save" data-path="<%=id%>"><%=MESSAGES[47]%></button>
        <button type="button" class="btn cancelForm" data-path="<%=id%>"><%=MESSAGES[18]%></button>
    </div>
    <input type="hidden" class="firstShapeValues-z_index">
    <input type="hidden" class="firstShapeValues-border-color">
    <input type="hidden" class="firstShapeValues-background-color">
    <input type="hidden" class="firstShapeValues-border-type">
    <input type="hidden" class="firstShapeValues-border-width">
    <input type="hidden" class="firstShapeValues-rotation">
</form>