<div class="pull-right configs-align">
    <span id="ace-conf-panel" style="display: none;">
            <span class="editor-hint hidden">* Hint: press \"Ctrl + Space\" for code autocomplete. </span>
            <i class="fa fa-code-fork mlr-10"></i>
            <select name="ace-mode" id="ace_mode">
                <% ace_languages.forEach(function(lang) { %>
                    <option value="<%=lang.key%>" <%= r('ace_mode') == lang.key ? 'selected' : '' %>><%=lang.title%></option>
                <% }) %>
            </select>
            <i class="fa fa-tachometer mlr-10"></i>
            <select name="themes" id="ace_themes">
                <% ace_themes.forEach(function(theme) { %>
                    <option value="<%=theme.key%>" <%= r('ace_theme') == theme.key ? 'selected' : '' %>><%=theme.title%></option>
                <% }) %>
            </select>
            <i class="glyphicon glyphicon-text-size mlr-10"></i>
            <select name="font-size" id="ace_font-size">
                <% ace_font_size.forEach(function(size) { %>
                    <option value="<%=size%>" <%= r('ace_font_size') == size ? 'selected' : '' %>><%=size%></option>
                <% }) %>
            </select>
            </span>
    Ace Editor
    <label class="checkbox-switch switch-align" title="<%= r("editor") ? "Disable ACE Editor" : "Enable ACE Editor" %> ">
        <input type="checkbox" name="toggle_editor" <%= r("editor") ? "checked" : "" %> id="toggle_editor"/>
        <div class="checkbox-slider-<%= r("editor") ? "on" : "off" %>"></div>
    </label>
</div>

<div class="clearfix"></div>
<hr class="config-line">
<form id="form-node-config" class="form-horizontal">
    <input name="config[id]" value="<%=values['id']%>" type="hidden"/>
    <div class="form-group">
        <div class="col-md-12">
            <div id="editor" name="config[editor_data]"></div>
            <textarea class="form-control autofocus" id="nodeconfig" name="config[data]" rows="500"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success"><%=MESSAGES[47]%></button>
            <button type="button" class="btn" data-dismiss="modal"><%=MESSAGES[18]%></button>
        </div>
    </div>
</form>
</div>
